vars:
  ansible_ssh_private_key_file: ${ var.ssh_key_location ~}
  host_key_checking: False
  ansible_user: ${ var.user ~}

  hosts:
  %{ for server in var.server_list ~}:  #server name

      {if lustre_client ~}
      ansible_host: ${ var.public_ip ~}
      { end if }
      private_ip: ${ var.priate_ip ~}
      {if not lustre_client:}
      ansible_ssh_common_args: "-o ProxyCommand=\"ssh -W %h:%p -i /home/reseke/.ssh/id_rsa ec2-user@3.67.196.143\""
      { end if }

  %{ endfor ~}