## Template file for Ansible inventory
all:
  vars:
    ansible_ssh_private_key_file: ${ ssh_key_location }
    host_key_checking: False
    ansible_user: ${ user }

    hosts:
    %{ for server in server_list ~}
    ${ server.host_name }:

      ansible_host: ${server.public_ip}
      public_ip: ${server.public_ip}

      private_ip: ${server.ipv4}
    %{ endfor ~}